@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1f7a63;
    --color-secondary: #3bdb75;
    --color-neutral: #caf9f1;
    --color-accent: #e8faf7;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #2ab894;
    --color-secondary: #3bdb75;
    --color-neutral: #111827;
    --color-accent: #1f2937;
}

a.active {
    color: var(--color-primary);
    font-weight: bold;
}

.text-primary-gradient {
    background: linear-gradient(to right, #2563eb, #9333ea, #db2777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}